body {
    background-color: black;
    animation-name: fadefrom;
    animation-duration: 2s;
  }
  @keyframes fadefrom {
    from {background-color: black;}
    to {background-color: black;}
  }
  p {
    color: white;
    font-family: inherit;
    text-align: left;
  }
  h1 {
    color: white;
    font-weight: bold;
    text-align: left;
  }
  .Title {
    color: orange;
    text-shadow: 2px 2px white;
    font-size: 28px;
    font-family: cursive;
    animation-name: fadefrom2;
    animation-duration: 2s;
  }
  @keyframes fadefrom2 {
    from {color: black;}
    to {color: orange;}
  }
  .story {
    font-family: Tw Cen MT;
  }
  .buttons {
    font-family: Tw Cen MT;
  }