body {
    background-color: white;
    animation-name: fadefrom;
    animation-duration: 2s;
  }
  @keyframes fadefrom {
    from {background-color: black;}
    to {background-color: white;}
  }
  p {
    color: black;
    font-family: Tw Cen MT;
    text-align: left;
    animation-name: fadefrom3;
    animation-duration: 2s;
  }
  h1 {
    font-weight: bold;
    text-align: left;
  }
  .Title {
    color: orange;
    text-shadow: 2px 2px black;
    font-size: 28px;
    font-family: Comic Sans MS;
    animation-name: fadefrom2;
    animation-duration: 2s;
  }
  @keyframes fadefrom2 {
    from {color: black;}
    to {color: orange;}
  }
  .story {
    font-family: Tw Cen MT;
  }
  .buttons {
    font-family: Tw Cen MT;
  }
  button {
    background-color: darkorange; /* Green */
    border-color: rgb(185, 102, 0);
    border-radius: 4px;
    padding: 4px 15px;
    color: white;
    outline: none;
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1.5px 1.5px rgb(185, 102, 0);
  }
  button:hover {
      background-color: orange; /* Green */
      border-color: darkorange;
      text-shadow: 1.5px 1.5px rgb(233, 128, 0);
  }
  button:active {
      background-color: rgb(185, 102, 0); /* Green */
      border-color: rgb(112, 50, 0);
      text-shadow: 1.5px 1.5px rgb(112, 50, 0);
  }
  .intro {
    color: black;
    font-family: Tw Cen MT;
    text-align: left;
  }
  .copyright {
    font-family: Tahoma;
    margin-bottom: -22px;
    font-size: 10px;
  }
  .imgsize {
    height: 30%;
    width: 30%;
    animation-name: fadeinimg;
    animation-duration: 2s;
  }
  @keyframes fadeinimg {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
